In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, Normalizer

#### Read the data produced by the 0_Preprocessing Notebook

In [6]:
df = pd.read_pickle('TU_imputed')
df = df.astype(np.int32)
categorical = ['HomeAdrNUTS', 'HomeAdrMunCode',  'RespSex', 'RespPrimOcc', 'RespEdulevel', 'RespHasBicycle',
              'RespHasSeasonticket', 'ResphasDrivlic', 'Handicap', 'HousehAccomodation', 'PosInFamily', 'NuclFamType',
              'HousehAccOwnorRent']
numerical = ['RespYearBorn', 'RespAgeCorrect', 'RespDrivlicYear', 'HousehNumcars', 
            'NuclFamNumPers', 'NuclFamNumAdults', 'NuclFamNumPers1084',
             'NuclFamNumPersO6', 'NuclFamNumDrivLic', 'FamNumPers', 'FamNumAdults',
             'FamNumPers1084', 'FamNumPersO6', 'FamNumDrivLic', 'HousehNumPers',
             'HousehNumAdults', 'HousehNumPers1084', 'HousehNumPersO6',
             'HousehNumDrivLic']
df.head(10)

,HomeAdrNUTS,HomeAdrMunCode,RespSex,RespYearBorn,RespAgeCorrect,RespPrimOcc,RespEdulevel,RespHasBicycle,RespHasSeasonticket,ResphasDrivlic,...,FamNumPers,FamNumAdults,FamNumPers1084,FamNumPersO6,FamNumDrivLic,HousehNumPers,HousehNumAdults,HousehNumPers1084,HousehNumPersO6,HousehNumDrivLic
SessionId,,,,,,,,,,,,,,,,,,,,,
50023,42,751,2,1995,10,107,1,1,2,-18,...,5,2,5,5,2,5,2,5,5,2
50026,41,657,2,1936,69,370,13,1,2,1,...,2,2,2,2,2,2,2,2,2,2
50028,32,540,2,1962,43,210,9,1,2,1,...,4,3,4,4,3,4,3,4,4,3
50029,31,410,2,1995,10,107,1,1,2,-18,...,4,2,4,4,2,4,2,4,4,2
50031,11,147,1,1969,36,210,14,1,2,1,...,2,2,2,2,1,2,2,2,2,1
50032,12,169,1,1994,12,107,1,1,2,-18,...,5,2,5,5,2,5,2,5,5,2
50033,13,219,1,1986,20,210,5,1,2,1,...,4,4,4,4,4,4,4,4,4,4
50036,42,751,1,1981,24,120,14,2,2,1,...,1,1,1,1,1,1,1,1,1,1
50038,22,360,1,1978,27,210,11,1,1,2,...,4,2,2,2,1,4,2,2,2,1
50039,42,751,2,1964,42,210,13,1,2,1,...,4,2,3,4,2,4,2,3,4,2

In [7]:
## Convert to categorical Data and see the statistics
df[categorical] = df[categorical].astype('category')
df[categorical].describe().append(df[categorical].isnull().sum().rename('isnull'))

,HomeAdrNUTS,HomeAdrMunCode,RespSex,RespPrimOcc,RespEdulevel,RespHasBicycle,RespHasSeasonticket,ResphasDrivlic,Handicap,HousehAccomodation,PosInFamily,NuclFamType,HousehAccOwnorRent
count,167264,167264,167264,167264,167264,167264,167264,167264,167264,167264,167264,167264,167264
unique,11,99,2,158,14,2,2,8,2,6,4,4,3
top,42,101,2,210,11,1,2,1,2,1,12,21,1
freq,25077,13932,85845,74938,37038,119457,141612,125164,157193,92525,50963,69049,118257
isnull,0,0,0,0,0,0,0,0,0,0,0,0,0

#### Normalisation of Data

In [8]:
### normalise the numerical data
norm = Normalizer()
df[numerical] = norm.fit_transform(df[numerical], df[numerical])
df[numerical].head(10)

,RespYearBorn,RespAgeCorrect,RespDrivlicYear,HousehNumcars,NuclFamNumPers,NuclFamNumAdults,NuclFamNumPers1084,NuclFamNumPersO6,NuclFamNumDrivLic,FamNumPers,FamNumAdults,FamNumPers1084,FamNumPersO6,FamNumDrivLic,HousehNumPers,HousehNumAdults,HousehNumPers1084,HousehNumPersO6,HousehNumDrivLic
SessionId,,,,,,,,,,,,,,,,,,,
50023,0.999956,0.005012,-0.000501,0.000501,0.002506,0.001002,0.002506,0.002506,0.001002,0.002506,0.001002,0.002506,0.002506,0.001002,0.002506,0.001002,0.002506,0.002506,0.001002
50026,0.703603,0.025077,0.710145,0.000363,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727,0.000727
50028,0.703778,0.015424,0.710234,0.000717,0.001435,0.001076,0.001435,0.001435,0.001076,0.001435,0.001076,0.001435,0.001435,0.001076,0.001435,0.001076,0.001435,0.001435,0.001076
50029,0.999966,0.005012,-0.000501,0.000501,0.002005,0.001002,0.002005,0.002005,0.001002,0.002005,0.001002,0.002005,0.002005,0.001002,0.002005,0.001002,0.002005,0.002005,0.001002
50031,0.703643,0.012865,0.710433,0.000357,0.000715,0.000715,0.000715,0.000715,0.000357,0.000715,0.000715,0.000715,0.000715,0.000357,0.000715,0.000715,0.000715,0.000715,0.000357
50032,0.999950,0.006018,-0.000501,0.000501,0.002507,0.001003,0.002507,0.002507,0.001003,0.002507,0.001003,0.002507,0.002507,0.001003,0.002507,0.001003,0.002507,0.002507,0.001003
50033,0.703881,0.007088,0.710261,0.000354,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418,0.001418
50036,0.703875,0.008528,0.710271,0.000000,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355,0.000355
50038,0.999896,0.013649,-0.000506,0.000000,0.002022,0.001011,0.001011,0.001011,0.000506,0.002022,0.001011,0.001011,0.001011,0.000506,0.002022,0.001011,0.001011,0.001011,0.000506
50039,0.702714,0.015027,0.711301,0.000358,0.001431,0.000716,0.001073,0.001431,0.000716,0.001431,0.000716,0.001073,0.001431,0.000716,0.001431,0.000716,0.001073,0.001431,0.000716

In [ ]:
#df.head(10)

In [10]:
## Make a copy for further manipulations
df_complete = df

#### Looking at the Correlation

In [11]:
c = df_complete.corr().abs()
s = c.unstack()
so = s.sort_values(kind="quicksort", ascending = False)
so.where(so>0.95 ).dropna()

HousehNumDrivLic    HousehNumDrivLic      1.000000
NuclFamNumDrivLic   NuclFamNumDrivLic     1.000000
HousehNumAdults     HousehNumAdults       1.000000
HousehNumPers       HousehNumPers         1.000000
FamNumDrivLic       FamNumDrivLic         1.000000
FamNumPersO6        FamNumPersO6          1.000000
FamNumPers1084      FamNumPers1084        1.000000
FamNumAdults        FamNumAdults          1.000000
FamNumPers          FamNumPers            1.000000
NuclFamNumPersO6    NuclFamNumPersO6      1.000000
HousehNumPersO6     HousehNumPersO6       1.000000
NuclFamNumPers1084  NuclFamNumPers1084    1.000000
NuclFamNumAdults    NuclFamNumAdults      1.000000
NuclFamNumPers      NuclFamNumPers        1.000000
HousehCarOwnership  HousehCarOwnership    1.000000
HousehNumcars       HousehNumcars         1.000000
RespDrivlicYear     RespDrivlicYear       1.000000
RespAgeCorrect      RespAgeCorrect        1.000000
HousehNumPers1084   HousehNumPers1084     1.000000
RespYearBorn        RespYearBorn          1.000000
                    RespDrivlicYear       0.999982
RespDrivlicYear     RespYearBorn          0.999982
HousehNumPersO6     FamNumPersO6          0.980612
FamNumPersO6        HousehNumPersO6       0.980612
FamNumPers1084      HousehNumPers1084     0.977063
HousehNumPers1084   FamNumPers1084        0.977063
HousehNumPers       FamNumPers            0.976805
FamNumPers          HousehNumPers         0.976805
NuclFamNumPers      FamNumPers            0.971769
FamNumPers          NuclFamNumPers        0.971769
NuclFamNumPersO6    FamNumPersO6          0.970626
FamNumPersO6        NuclFamNumPersO6      0.970626
HousehNumDrivLic    FamNumDrivLic         0.968563
FamNumDrivLic       HousehNumDrivLic      0.968563
NuclFamNumPers1084  FamNumPers1084        0.967503
FamNumPers1084      NuclFamNumPers1084    0.967503
FamNumPersO6        FamNumPers            0.961483
FamNumPers          FamNumPersO6          0.961483
NuclFamNumPers      NuclFamNumPersO6      0.960684
NuclFamNumPersO6    NuclFamNumPers        0.960684
HousehNumPersO6     HousehNumPers1084     0.957054
HousehNumPers1084   HousehNumPersO6       0.957054
FamNumPersO6        FamNumPers1084        0.956221
FamNumPers1084      FamNumPersO6          0.956221
HousehNumAdults     FamNumAdults          0.955986
FamNumAdults        HousehNumAdults       0.955986
HousehNumPersO6     HousehNumPers         0.955927
HousehNumPers       HousehNumPersO6       0.955927
NuclFamNumPers1084  NuclFamNumPersO6      0.955336
NuclFamNumPersO6    NuclFamNumPers1084    0.955336
                    HousehNumPersO6       0.951053
HousehNumPersO6     NuclFamNumPersO6      0.951053
dtype: float64

In [12]:
### drop columns based on the correlation metrics
cols_to_drop = ['RespYearBorn', 'FamNumDrivLic', 'NuclFamNumDrivLic',  'FamNumPers', 'NuclFamNumPers', 
               'NuclFamNumPersO6', 'FamNumPersO6', 'NuclFamNumPers1084', 'FamNumPers1084', 'FamNumAdults', 'NuclFamNumAdults']
df_drop = df_complete.drop(cols_to_drop, axis=1)

In [13]:
c = df_drop.corr().abs()
s = c.unstack()
so = s.sort_values(kind="quicksort", ascending = False)
so.where(so>0.95 ).dropna()

HousehNumDrivLic    HousehNumDrivLic      1.000000
HousehNumPersO6     HousehNumPersO6       1.000000
RespDrivlicYear     RespDrivlicYear       1.000000
HousehNumcars       HousehNumcars         1.000000
HousehCarOwnership  HousehCarOwnership    1.000000
HousehNumAdults     HousehNumAdults       1.000000
HousehNumPers1084   HousehNumPers1084     1.000000
HousehNumPers       HousehNumPers         1.000000
RespAgeCorrect      RespAgeCorrect        1.000000
HousehNumPers1084   HousehNumPersO6       0.957054
HousehNumPersO6     HousehNumPers1084     0.957054
                    HousehNumPers         0.955927
HousehNumPers       HousehNumPersO6       0.955927
dtype: float64

In [14]:
##### Final is a misleading name. This file contains the processed dataset, but the binning is still not pervformed
df_drop.to_pickle('TU_final')

## One Hot & Bin The continious Variables

In the following notebooks all the work is done with the TU Onehot file

In [15]:
from utils import *
import pandas as pd
import numpy as np

In [36]:
df = pd.read_pickle('TU_final')
categorical = ['HomeAdrNUTS', 'HomeAdrMunCode',  'RespSex', 'RespPrimOcc', 'RespEdulevel', 'RespHasBicycle',
              'RespHasSeasonticket', 'ResphasDrivlic', 'Handicap', 'HousehAccomodation', 'PosInFamily', 'NuclFamType',
              'HousehAccOwnorRent', 'HousehCarOwnership']
numerical = [ 'RespAgeCorrect', 'RespDrivlicYear', 'HousehNumcars', 
             'HousehNumPers',
             'HousehNumAdults', 'HousehNumPers1084', 'HousehNumPersO6',
             'HousehNumDrivLic']

df_cat = df

numerical_binning(df_cat, numerical, q=10)
df_onehot = encode_onehot(df_cat, categorical + numerical)
df_onehot.head()

,HomeAdrNUTS_11,HomeAdrNUTS_12,HomeAdrNUTS_13,HomeAdrNUTS_14,HomeAdrNUTS_21,HomeAdrNUTS_22,HomeAdrNUTS_31,HomeAdrNUTS_32,HomeAdrNUTS_41,HomeAdrNUTS_42,...,"HousehNumPersO6_(0.002, 0.00752]","HousehNumDrivLic_(-0.001, 0.000357]","HousehNumDrivLic_(0.000357, 0.000363]","HousehNumDrivLic_(0.000363, 0.000708]","HousehNumDrivLic_(0.000708, 0.000713]","HousehNumDrivLic_(0.000713, 0.000717]","HousehNumDrivLic_(0.000717, 0.000721]","HousehNumDrivLic_(0.000721, 0.000726]","HousehNumDrivLic_(0.000726, 0.001]","HousehNumDrivLic_(0.001, 0.00451]"
SessionId,,,,,,,,,,,,,,,,,,,,,
50023,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
50026,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
50028,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
50029,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
50031,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [39]:

#####THIS IS INDEED THE FINAL DATASET 
### with the use of back_from_dummies it can be converted back from the onehot (containing the binned values)

df_onehot.to_pickle('TU_onehot')

### Description of the Processed Data

In [9]:
df_ = pd.read_pickle('Data/TU_final')
df_.astype('category').describe()

,HomeAdrNUTS,HomeAdrMunCode,RespSex,RespAgeCorrect,RespPrimOcc,RespEdulevel,RespHasBicycle,RespHasSeasonticket,ResphasDrivlic,RespDrivlicYear,...,Handicap,HousehAccomodation,HousehAccOwnorRent,NuclFamType,PosInFamily,HousehNumPers,HousehNumAdults,HousehNumPers1084,HousehNumPersO6,HousehNumDrivLic
count,167264,167264,167264,167264.000000,167264,167264,167264,167264,167264,167264.000000,...,167264,167264,167264,167264,167264,167264.000000,167264.0,167264.0,167264.000000,167264.0
unique,11,99,2,79890.000000,158,14,2,2,8,73362.000000,...,2,6,3,4,4,79419.000000,76128.0,77841.0,78747.000000,71002.0
top,42,101,2,0.022769,210,11,1,2,1,0.710166,...,2,1,1,21,12,0.000723,0.0,0.0,0.000723,0.0
freq,25077,13932,85845,103.000000,74938,37038,119457,141612,125164,103.000000,...,157193,92525,118257,69049,50963,103.000000,165.0,631.0,103.000000,9994.0